In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
from sklearn.linear_model import LinearRegression
# Training data
df_training = pd.read_csv('C:\\Users\\rivas\\OneDrive\\Documents\\JMR\\Education\\Springboard\\Projects\\Capstone1\\C2F train2.csv')
x_train = df_training.iloc[:, 1:]
y_train = df_training.iloc[:, :1]

#

#
# Test data
df_test = pd.read_csv('C:\\Users\\rivas\\OneDrive\\Documents\\JMR\\Education\\Springboard\\Projects\\Capstone1\\C2F test2.csv')
x_test = df_test.iloc[:, 1:]
y_test = df_test.iloc[:, :1]

In [2]:
# initialize our regressor object
reg = LinearRegression()


# train the model
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [4]:
#Predict on the test data
y_test_predicted = reg.predict(x_test)

y_test_predicted[:10]
y_test.iloc[:10]

    5
0  15
1  25
2  35
3  45
4  55
5  65
6  75
7  85
8  95

In [5]:
y_test.iloc[:10]

    5
0  15
1  25
2  35
3  45
4  55
5  65
6  75
7  85
8  95

In [6]:
y_test_predicted[:10]

array([[ 15.],
       [ 25.],
       [ 35.],
       [ 45.],
       [ 55.],
       [ 65.],
       [ 75.],
       [ 85.],
       [ 95.]])

In [7]:
mse = ((y_test - y_test_predicted)**2).sum()
mse

5    2.019484e-28
dtype: float64